body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

p {
    line-height: 1.6;
    color: #000;
}

hr {
    border-width: 3px;
    border-color: #999999;
}

.title-hr {
    margin-right: 900px;
}

.contact-bar {
    margin-top: 15px;
    text-align: right;
}

.navbar-brand {
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 75px;
}

.navbar-default {
    height: 186px;
    border: none;
    background: #ba042f; /* Old browsers */
    background: -moz-linear-gradient(top,  #ba042f 0%, #d10812 27%, #e50900 71%, #b60b00 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ba042f 0%,#d10812 27%,#e50900 71%,#b60b00 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ba042f 0%,#d10812 27%,#e50900 71%,#b60b00 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba042f', endColorstr='#b60b00',GradientType=0 ); /* IE6-9 */

}

.navbar-default .navbar-nav>li>a {
    color: white;
    margin-top: 6px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 0.8em;
    font-weight: 700;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #2b2b2;
}

.navbar-nav {
    padding-bottom: 300px;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
    -webkit-box-shadow: 1px 5px 19px 1px rgba(146,146,146,0.93);
    -moz-box-shadow: 1px 5px 19px 1px rgba(146,146,146,0.93);
    box-shadow: 1px 5px 19px 1px rgba(146,146,146,0.93);
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.carousel {
    margin-top: -163px;
    -webkit-box-shadow: 1px 5px 19px 1px rgba(115,113,115,1);
    -moz-box-shadow: 1px 5px 19px 1px rgba(115,113,115,1);
    box-shadow: 1px 5px 19px 1px rgba(115,113,115,1);
}
.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

/*ABOUT PAGE*/
.sidebar {
    list-style-image: url('../img/red-arrow.gif');
}

.about-img {
    margin-top: -163px;
}
.about-img img {
  -webkit-box-shadow: 0px 25px 31px -10px rgba(166,159,120,0.91);
  -moz-box-shadow: 0px 25px 31px -10px rgba(166,159,120,0.91);
  box-shadow: 0px 25px 31px -10px rgba(166,159,120,0.91);
}
.about-header {
}
.justify {
    text-align: justify;
}
/*FOOTER*/

footer {
    background: #A1A1A1;
    color: #fff;
}

footer p {
    margin: 0;
    padding-top: 5px;
    color: #fff;
}

.footer-padding {
    margin-top: 20px;
}

nav.footer-nav ul {
    margin-left: -39px;
    padding-bottom: 25px;
}

nav.footer-nav ul li {
    float: none;
    margin: 0;
    padding: 0 0 0 15px;
    border-left: 1px solid #DDD;
    list-style-type: none;
    line-height: 2;
    font-size: 0.9em;
}

nav.footer-nav>ul>li>a:link, nav.footer-nav>ul>li>a:visited, nav.footer-nav>ul>li>a:hover, nav.footer-nav>ul>li>a:active {
    color: white;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
